body {
  background-color: #2A2F4F;
   
  }
  
  .App {
    padding: 50px;
    font-family: 'Franklin Gothic Medium';
  }
  
  .hero{
    background-color: #2A2F4F;

  }
  .nav {
    display: flex;
    justify-content: space-between;
  
  }
  .nav-left h1{
    color:#FDE2F3;
  }
  .nav-left img {
    width: 300px;
    height: 50px;
  }
  
  .nav-right {
    background-color: #FDE2F3;
    color: #FDE2F3;
    border: 2px solid #2A2F4F;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
  }
  
  .nav-right:hover {
    background-color:#917FB3;
    color: white;
  }
  
  .hero-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    
  }
  
  .hero-left{
    margin-right: 150px;
    margin-left: 50px;
    font-size: 70px;
    display: flex;
    align-items: self-start;
    flex-direction: column;
  }
  .hero-left h3{
    color:#E5BEEC;
  }
  .hero-right img{
    width: 700px;
    height: 350px;
    border-radius: 50px;
  }
  
  .hero-left button {
    background-color: #FDE2F3;
    color: #2A2F4F;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
  }
  
  .join-btn:hover {
    background-color: azure;
    color: #2A2F4F;
    border: 2px solid #2A2F4F;
  }